---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{.Release.Name}}-subscription-server
  labels:
    operator.sme.sap.com/app: subscription-server
    operator.sme.sap.com/category: controller
    operator.sme.sap.com/release: {{.Release.Name}}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{.Release.Name}}-subscription-server
  labels:
    operator.sme.sap.com/app: subscription-server
    operator.sme.sap.com/category: controller
    operator.sme.sap.com/release: {{.Release.Name}}
rules:
- apiGroups: ["sme.sap.com"]
  resources: ["capapplications", "capapplications/status"]
  verbs:  ["get", "list", "watch"]
- apiGroups: ["sme.sap.com"]
  resources: ["captenants", "captenants/status"]
  verbs:  ["create", "delete", "get", "list", "update", "watch"]
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get", "watch", "list"]
- apiGroups: ["", "events.k8s.io"]
  resources: ["events"]
  verbs: ["*"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{.Release.Name}}-subscription-server
  labels:
    operator.sme.sap.com/app: subscription-server
    operator.sme.sap.com/category: controller
    operator.sme.sap.com/release: {{.Release.Name}}
subjects:
- kind: ServiceAccount
  namespace: {{.Release.Namespace}}
  name: {{.Release.Name}}-subscription-server
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{.Release.Name}}-subscription-server
