---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{.Release.Name}}-webhook
  labels:
    operator.sme.sap.com/app: webhook
    operator.sme.sap.com/category: controller
    operator.sme.sap.com/release: {{.Release.Name}}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{.Release.Name}}-webhook
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "watch", "list"]
- apiGroups: ["sme.sap.com"]
  resources: ["capapplications","capapplicationversions", "captenants"]
  verbs:  ["get", "list", "watch", "create", "update", "patch", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{.Release.Name}}-webhook
subjects:
- kind: ServiceAccount
  name: {{.Release.Name}}-webhook
  namespace: {{.Release.Namespace}}
roleRef:
  kind: ClusterRole
  name: {{.Release.Name}}-webhook
  apiGroup: rbac.authorization.k8s.io
---